@charset "UTF-8";

/* Mobile view */

@media screen and (min-width: 280px) and (max-width: 1024px) {
    nav>a {
        font-size: larger;
        border-bottom-width: 2px;
    }

    #header {
        width: 100%;
    }

    #header>.image {
        margin-top: 10px;
        margin-left: 1em;
    }

    #header>.image>img {
        width: 120px;
        height: 120px;
        border-width: 3px;
    }

    #header>.name {
        font-size: large;
        margin-top: 5px;
        margin-left: 12px;
        margin-bottom: 5px;
    }

    #header>.bio {
        position: absolute;
        left: 162px;
        top: 50px;
    }

    #header>.bio p:first-child {
        text-align: left;
        font-size: large;
        margin-top: 5px;
    }

    #header>.bio p:last-child {
        text-align: left;
        font-size: medium;
    }

    .repo {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .repo-title {
        font-size: larger;
    }

    .repo ol {
        margin-bottom: 5px;
    }

    .repo li {
        padding: 12px;
    }

    .repo .p1 {
        margin-bottom: 8px;
        margin-top: 6px;
    }

    #content {
        width: 100%;
        padding-left: 0px;
    }

    .link img {
        width: 30px;
    }

    .footer-text {
        font-size: larger;
    }
}