@charset "UTF-8";

/* Main CSS */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #FFFFFF;
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0;
}

nav {
    position: static;
    width: 100%;
    background-color: #24292e;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #d1d5da;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}

nav>a {
    color: #cccccc;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
    width: auto;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #505050;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #505050;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #505050;
    -webkit-flex-grow: 1;
}

nav>a:hover {
    background-color: #4799FF;
    color: #FFFFFF;
    transition: all .2s ease-in-out 0s;
    border-bottom-color: #e36209;
}

#header {
    width: 25%;
    float: left;
    margin-bottom: 25px;
    display: -webkit-flex;
    display: flex;
    background-color: #EFF2F4;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-shadow: 0 0 10px #C5C5C5;
}

#header>.image {
    position: relative;
    text-decoration: none;
    background-color: #EFF2F4;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header>.image>img {
    width: 230px;
    height: 230px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: #FFFFFF;
}

#header>.name {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#header>.name :last-child {
    color: #444444;
}

#header>.bio p {
    color: #A2A2A2;
    text-align: center;
    font-size: large;
}

#header>.bio p:first-child {
    color: #A2A2A2;
    text-align: center;
    font-size: x-large;
    margin-bottom: 0;
}

#header>.bio p:last-child {
    color: #A2A2A2;
    text-align: center;
    font-size: larger;
    margin-top: 0.1em;
}

#content {
    float: left;
    width: 75%;
    padding-left: 24px;
}

.repo-title {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #eaecef;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #9199a2;
}

.repo {
    width: 82%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.repo ol {
    padding-left: 0;
    margin-top: 0;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
}

.repo li {
    display: -webkit-flex;
    display: flex;
    width: 359px;
    margin-bottom: 16px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #d1d5da;
    border-radius: 3px;
}

.repo .repositories {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.repositories>span {
    position: relative;
}

.repositories>span>a {
    font-weight: bold;
    color: #0366d6;
    text-decoration: none;
}

.repositories>span>a:hover {
    cursor: pointer;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #0366d6;
}

.repositories .p1 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    -webkit-box-flex: 1;
    color: #586069;
    margin-bottom: 16px;
    margin-top: 8px;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: auto;
}

.repositories .p2 {
    font-size: small;
    margin-bottom: 0;
    margin-top: 0;
}

.repositories>p:last-child>span {
    background-color: #f1e05a;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.footer {
    clear: both;
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.footer:before {
    display: table;
    content: "";
}

.link {
    text-align: center;
    color: #586069;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #eaecef;
}

.link img {
    width: 50px;
    margin-top: 10px;
    text-decoration: none;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.link>a {
    text-decoration: none;
}

.footer-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
}

.footer-text>p {
    color: #586069;
    margin-top: 0px;
    margin-bottom: 0px;
}