/* Custom Scrollbar for the list */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
