@charset "UTF-8";

/* Mobile Games CSS */

@media screen and (min-width: 280px) and (max-width: 1024px) {
    .games-repo li {
        padding: 12px;
    }

    .games-reout .p1 {
        margin-bottom: 8px;
        margin-top: 6px;
    }
}
