body {
    margin: 0;
    overflow: hidden;
    background-color: #020617;
    font-family: 'Inter', sans-serif;
}
canvas {
    display: block;
}

/* Custom Scrollbar for Details Panel */
.details-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.details-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
}

.details-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.details-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Firefox */
.details-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.02);
}
